<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav">
            <router-outlet>
                <li><a routerLink='/pets'>Pets</a></li>
                <li><a routerLink="/people">People</a></li>
                <li><a routerLink="/add_pet">Add pet</a></li>
                <li><a routerLink="/add_person">Add person</a></li>
            </router-outlet>
            
        </ul>
    </div>
</div>
