<div class="gridContainer">
    <div class="adoptions">
        <div class="adoptionInfo">
        <h4>Date: {{pipe.transform(adoption.date,'dd.MM.yyyy.')}}</h4>
        <h4>Vet report before adopting: {{adoption.vetReport}}</h4>
        <h4>Pet: {{adoption.petId.type.name}} {{adoption.petId.name}}</h4>
        <h4>Person: {{adoption.personId.name}} {{adoption.personId.surname}}</h4>
        <h4 class="buttons">
            <!-- <button (click)="update(adoption.adoptionId)">Change</button> -->
            <button (click)="delete(adoption.adoptionId)" class="button">Delete</button></h4>
    </div>
    </div>
</div>