<h1>Add New Person</h1>
<form [formGroup] = "newPersonForm" action="#" id="form" (ngSubmit) = "addPerson()">

    <label>JMBG</label>
    <input type="text" autocomplete="on" [formControlName]="'personJmbg'">
    <br>

    <label >Name</label>
    <input type="text" name="name" [formControlName]="'personName'" autocomplete="on">
    <br>

    <label >Surname</label>
    <input type="text" name="surname" [formControlName]="'personSurname'">
    <br>

    <label >Year of birth</label>
    <input type="text" name="year" [formControlName]="'personYear'">
    <br>

    <label >Phone number</label>
    <input type="text" name="phone" [formControlName]="'personPhone'">
    <br>

    <label >City</label>
    <select [formControlName]="'personCity'">
        <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
      </select>
    <br>

    <input type="submit" value="Add">
</form>